In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
heart = pd.read_csv('heart_v2.csv')

In [3]:
heart.shape

(270, 5)

In [5]:
heart.describe()

              age         sex          BP  cholestrol  heart disease
count  270.000000  270.000000  270.000000  270.000000     270.000000
mean    54.433333    0.677778  131.344444  249.659259       0.444444
std      9.109067    0.468195   17.861608   51.686237       0.497827
min     29.000000    0.000000   94.000000  126.000000       0.000000
25%     48.000000    0.000000  120.000000  213.000000       0.000000
50%     55.000000    1.000000  130.000000  245.000000       0.000000
75%     61.000000    1.000000  140.000000  280.000000       1.000000
max     77.000000    1.000000  200.000000  564.000000       1.000000

In [7]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            270 non-null    int64
 1   sex            270 non-null    int64
 2   BP             270 non-null    int64
 3   cholestrol     270 non-null    int64
 4   heart disease  270 non-null    int64
dtypes: int64(5)
memory usage: 10.7 KB

In [8]:
heart.isna().sum()

age              0
sex              0
BP               0
cholestrol       0
heart disease    0
dtype: int64

**All the columns of the heart disease datasets are numeric and no missing values**

In [9]:
#check the distribution of dependent variable in the dataset
heart['heart disease'].value_counts(normalize=True)

0    0.555556
1    0.444444
Name: heart disease, dtype: float64

**It looks good, 55% of data point does not have heart disease and 44% have heart disease**

In [11]:
## get X and y
X = heart.drop('heart disease', axis=1)
y = heart['heart disease']

In [12]:
X.head()

   age  sex   BP  cholestrol
0   70    1  130         322
1   67    0  115         564
2   57    1  124         261
3   64    1  128         263
4   74    0  120         269

In [13]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: heart disease, dtype: int64

In [19]:
##scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [20]:
X_scaled = scaler.transform(X)

In [10]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,train_size=0.7,random_state = 42, stratify=y)

In [22]:
X_train.shape, X_test.shape

((189, 4), (81, 4))

In [24]:
## Creating decision tree model
from sklearn.tree import DecisionTreeClassifier

In [26]:
dtc = DecisionTreeClassifier(max_depth=3)

In [27]:
# fit the train data
dtc.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [29]:
#evaluate model performance
y_train_predict = dtc.predict(X_train)
y_test_predict = dtc.predict(X_test)

In [31]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [34]:
#accuracy score on train data
print(accuracy_score(y_train,y_train_predict))
print(confusion_matrix(y_train,y_train_predict))

0.7248677248677249
[[86 19]
 [33 51]]

In [35]:
#accuracy score on test data
print(accuracy_score(y_test,y_test_predict))
print(confusion_matrix(y_test,y_test_predict))

0.7037037037037037
[[33 12]
 [12 24]]